# auto saved files
auto-save-list/

# Cache
.cache/
eln-cache/
/projectile.cache

# MELPA packages
elpa/

# ElPy virtual env
elpy/

# speed-type files
speed-type/

# requests
request/

# transient files
transient/

# history files
eshell/
tramp
/uci-mode-history.txt
/recentf

# org-mode locations
/.org-id-locations

# session files
/session*
/.emacs.desktop*

# bookmarks
/bookmarks
/projectile-bookmarks.eld

# backup files
*~
\#*#
.\#*

# compiled files
*.elc

# autocompile files
ac-comphist.dat
