# auto saved files
auto-save-list/

# MELPA packages
elpa/

# ElPy virtual env
elpy/

# requests
request/

# transient files
transient/

# eshell history
eshell/history

# tramp connection history
tramp

# uci-mode history
uci-mode-history.txt

# session files
/session*
/.emacs.desktop*

# bookmarks
/bookmarks

# backup files
*~
\#*#
.\#*

# compiled files
*.elc
