abbrev_defs
ac-comphist.dat

# auto saved files
auto-save-list/

# eshell temporary files
eshell

# dired thumbnails
thumbs

# tramp connection history
tramp

# session files
/session.*

# ido-mode history
/ido.last

# backup files
*~
